/*
 *
 * BASIC SETUP
 *
 */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.3;
  letter-spacing: 0.5px;
  font-size: 1rem;
}

a {
  outline: none;
}

a:hover {
  text-decoration: none;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler span {
  color: #05364d;
  font-size: 20px;
  font-weight: bold;
}

/*
 *
 * HEADING
 *
 */
h2,
h3,
h4,
h5 {
  color: #05364d;
}

/*
 *
 * REUSEABLE COMPONENTS
 *
 */
section {
  padding: 3.5rem 0;
}

.little-description {
  font-size: 15px;
  color: #797979;
  line-height: 27px;
  font-weight: 300;
}

/* ---- Header ---- */
.header-active {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  background: #fff !important;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
  -webkit-transition: background 500ms ease, -webkit-transform 500ms ease;
  transition: background 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease, -webkit-transform 500ms ease;
  -webkit-box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
}

.header-active .navbar-brand {
  color: #000 !important;
}

.header-active .nav-item:first-child .nav-link {
  color: #f36 !important;
}

.header-active .nav-link {
  color: #05364d !important;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.header-active .nav-link:hover {
  color: #f36 !important;
}

header {
  background: linear-gradient(-135deg, #0071a5bd -10%, #7325d8c5 75%), url(../img/header.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  /* Nav Bar */
}

header .banner-heading {
  color: #fff;
  padding: 45px 0;
  margin-bottom: 4rem;
}

header .top-bar a {
  margin-top: .8rem !important;
  margin-bottom: .8rem !important;
  color: #eee !important;
  font-size: 1.1rem;
  border-left: 1px solid rgba(255, 255, 255, 0.288);
  opacity: .5;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  white-space: nowrap;
}

header .top-bar a:hover {
  background: rgba(255, 255, 255, 0.288);
  opacity: 1;
}

header .top-bar a:first-child {
  padding-left: 0 !important;
  border-left: none;
  opacity: 1;
}

header .top-bar a:first-child:hover {
  background: none;
}

header nav {
  background: rgba(255, 255, 255, 0.116) !important;
  width: 100%;
  z-index: 999;
}

header nav .nav-link {
  font-size: 14px !important;
  line-height: 30px;
  color: #fff !important;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin: 0 5px;
}

header nav .nav-link:hover {
  color: #05364d !important;
}

/* ---- bottom bar ---- */
.bottom-bar {
  position: relative;
  margin-top: -4%;
}

.bottom-bar p,
.bottom-bar h5 {
  text-align: center !important;
}

.bottom-bar p {
  font-size: 20px;
  font-weight: 300;
  opacity: .7;
}

.bottom-bar .box-shadow {
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

/* ---- OVERVIEW ---- */
.overview .ov-item {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.overview .ov-item .ov-icon {
  text-align: center;
  width: 100px;
  margin-bottom: 25px;
}

.overview .ov-item .ov-icon img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */